appName: {{ kong_ingress_release_name }}
namespace: {{ kong_ingress_release_namespace }}
service:
  port: {{ kong_ingress_service_port }}
container:
  targetport: {{ kong_ingress_container_port }}
domain: {{ internal_domain }}
