# Number of Kong instances
replicaCount: "{{ kong_replicas }}"

# Inject specified secret as a volume in Kong Container at path /etc/secrets/{secret-name}/
# This can be used to override default SSL certificates
secretVolumes:
- "{{ kong_cluster_cert_secret_name }}"

env:
  prefix: /kong_prefix/
  database: "off"
  role: data_plane
  cluster_cert: /etc/secrets/{{ kong_cluster_cert_secret_name }}/tls.crt
  cluster_cert_key: /etc/secrets/{{ kong_cluster_cert_secret_name }}/tls.key
  lua_ssl_trusted_certificate: /etc/secrets/{{ kong_cluster_cert_secret_name }}/tls.crt
  cluster_control_plane: kong-kong-cluster.{{ kong_cp_namespace }}.svc.cluster.local:8005

admin:
  enabled: false
  http:
    enabled: false
  tls:
    enabled: false

ingressController:
  enabled: false
  installCRDs: false

cluster:
  enabled: false

proxy:
  enabled: true
  type: NodePort
  http:
    enabled: true
    servicePort: 80
    containerPort: 8000
  tls:
    enabled: false
  ingress:
    # Enable exposure using kubernetes ingress controller
    enabled: true
    ingressClassName:
    hostname: kong-proxy.{{ internal_domain }}
    # Map of ingress annotations for OC VPN
    annotations:
      kubernetes.io/ingress.class: alb
      alb.ingress.kubernetes.io/scheme: internal
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/group.name: internal-alb
    # Ingress path
    path: /**
    pathType: Prefix
