# Number of Kong instances
replicaCount: "{{ kong_replicas }}"

# Inject specified secret as a volume in Kong Container at path /etc/secrets/{secret-name}/
# This can be used to override default SSL certificates
secretVolumes:
  - "{{ kong_cluster_cert_secret_name }}"

env:
  prefix: /kong_prefix/
  database: "{{ kong_database }}"
  role: control_plane
  cluster_cert: /etc/secrets/{{ kong_cluster_cert_secret_name }}/tls.crt
  cluster_cert_key: /etc/secrets/{{ kong_cluster_cert_secret_name }}/tls.key

admin:
  enabled: true
  type: NodePort
  http:
    enabled: true
    servicePort: 8001
    containerPort: 8001
  tls:
    enabled: false
  ingress:
    # Enable exposure using kubernetes ingress controller
    enabled: true
    ingressClassName:
    hostname: kong-admin-api.{{ internal_domain }}
    # Map of ingress annotations for OC VPN
    annotations:
      kubernetes.io/ingress.class: alb
      alb.ingress.kubernetes.io/scheme: internal
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/group.name: internal-alb
    # Ingress path
    path: /**
    pathType: Prefix

ingressController:
  enabled: true
  installCRDs: false
  env:
    publish_service: "{{ kong_dp_namespace }}/kong-kong-proxy"

cluster:
  enabled: true
  tls:
    enabled: true
    servicePort: 8005
    containerPort: 8005

proxy:
  enabled: false

postgresql:
  enabled: true
  auth:
    database: kong
    username: kong

# https://docs.konghq.com/gateway/2.8.x/install-and-run/upgrade-oss/
migrations:
  # Enable pre-upgrade migrations (run "kong migrations up")
  # which does only non-destructive operations
  preUpgrade: false
  # Enable post-upgrade migrations (run "kong migrations finish")
  # which puts the database in the final expected state for Kong
  postUpgrade: false
